@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");

/* ******************************************************************* */
/* *************** START OF SMALL (PHONE) VIEW STYLING *************** */
/* ******************************************************************* */

/*========= Start of Small General Styling ========*/
html {
    background-color: rgb(255, 255, 240);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

h1,
h2 {
    font-family: "Noto Serif", "PT Serif", serif;
    letter-spacing: 1px;
}

h1 {
    margin: 1rem;
}

.content-title {
    text-align: center;
    font-size: 2rem;
}

p,
a,
li {
    font-family: "Noto Sans", "PT Sans", sans-serif;
    letter-spacing: 1px;
}

a,
.btn-link {
    color: #0071c1;
}

a {
    padding: 5px;
    border-radius: 5px;
}

a:hover,
.sort-btn-individual:hover {
    background-color: rgb(54, 129, 84);
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.8);
    color: rgb(255, 255, 240);
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*========= End of Small General Styling ========*/

/*========= Start of Small Header Styling ========*/
header {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 108);
    border-radius: 5px;
    color: rgb(90, 209, 138);
    box-shadow: 0 0 15px rgba(50, 50, 50, 0.8);
    padding: 5px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    width: 100%;
}

.content {
    width: 95%;
}

.profile-box {
    display: flex;
    align-items: center;
    width: fit-content;
}

#profile-pic {
    width: 40%;
    height: 40%;
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.8);
    border-radius: 5px;
    margin: 5px;
}

#portal-title {
    font-weight: bolder;
    color: rgb(54, 129, 84);
}

#name {
    font-size: 3.5em;
}
/*========= End of Small Header Styling ========*/

/*========= Start of Small Nav Styling ========*/

nav {
    display: flex;
    padding: 1rem;
    border-top: 1px solid rgb(90, 209, 138);
}

.nav-item {
    width: fit-content;
    padding: 0.5rem;
}

.nav-link {
    display: flex;
    color: rgb(90, 209, 138);
    height: fit-content;
    align-items: center;
    gap: 0.3rem;
}

#nav-projects-item {
    border-right: 1px solid rgb(90, 209, 138);
    border-left: 1px solid rgb(90, 209, 138);
}

/*========= End of Small Nav Styling ========*/

/*========= Start of Small About Me Page Styling ========*/
#about-me-description-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info-box,
#learning-box {
    border-bottom: 1px solid rgb(0, 0, 108);
    margin-bottom: 2rem;
}

.about-me-info {
    text-indent: 2rem;
    line-height: 2rem;
}

#learning-box > ul > li {
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

/*========= End of Small About Me Page Styling ========*/

/*========= Start of Small Projects Page Styling ========*/
#sort-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sort-label {
    font-size: 1.25rem;
}

.sort-btn-box {
    display: flex;
    gap: 1rem;
}

.sort-btn-individual {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem;
    transition: 0.3s ease;
}

.sort-btn {
    color: rgb(0, 0, 108);
    border-radius: 5px;
    margin: 0rem;
    font-size: 1rem;
}

#lesson-list {
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(54, 129, 84);
}

#lesson-list > ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
    list-style-type: none;
    padding-left: 0;
}

.portal-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 108);
    padding-bottom: 2rem;
    gap: 2rem;
}

.portal-item > a {
    width: fit-content;
}

.project-image {
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.8);
    border-radius: 5px;
    margin-top: 1rem;
    max-width: 100%;
}

.project-items-list,
.contact-list {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style-type: none;
}

.project-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.project-description > p {
    line-height: 1.5rem;
}

/*========= End of Small Projects Page Styling ========*/

/*========= Start of Small Contact Page Styling ========*/
.contact-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    margin: auto;
    justify-content: space-around;
}

.contact-link,
.nav-link {
    text-decoration: none;
}

.contact-link {
    width: 300px;
    color: rgb(0, 0, 108);
}

.contact-link > img {
    max-width: 100px;
}
/*========= End of Small Contact Page Styling ========*/

/* ******************************************************************* */
/* **************** END OF SMALL (PHONE) VIEW STYLING **************** */
/* ******************************************************************* */

/* ******************************************************************* */
/* ************** START OF MEDIUM (TABLET) VIEW STYLING ************** */
/* ******************************************************************* */

@media screen and (min-width: 780px) {
    /*========= Start of Medium Header Styling ========*/

    #name {
        font-size: 2rem;
    }

    #profile-pic {
        width: 150px;
    }

    /*========= Start of Medium Nav Styling ========*/
    nav {
        display: flex;
        flex-wrap: nowrap;
    }
    /*========= End of Medium Nav Styling ========*/

    /*========= End of Medium Header Styling ========*/

    /*========= Start of Medium About Me Page Styling ========*/
    .about-me-box {
        display: flex;
        max-width: 60%;
        margin: 3rem auto;
        gap: 2.5rem;
    }

    #info-box,
    #learning-box {
        border-bottom: 0px;
        margin-bottom: auto;
    }

    #info-box {
        max-width: 55%;
    }

    #learning-box {
        border-left: 1px solid rgb(0, 0, 108);
        padding-left: 2rem;
    }

    .small-home-link {
        display: none;
    }
    /*========= Start of Medium About Me Page Styling ========*/

    /*========= Start of Medium Projects Page Styling ========*/
    .project-info {
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        align-items: center;
    }

    .project-image {
        width: 45%;
    }
    /*========= End of Medium Projects Page Styling ========*/
}
/* End of Medium media query */

/* ******************************************************************* */
/* *************** END OF MEDIUM (TABLET) VIEW STYLING *************** */
/* ******************************************************************* */
