@inherits LayoutComponentBase
@using software_dev_portfolio.Pages.PageComponents;

<div class="page">
    <main>
        <section class="content px-4">
            <ProfileHeader></ProfileHeader>
            @Body
        </section>
    </main>
</div>