﻿<!-- Nav Menu -->

<nav>

    <section class="nav-item">

        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">

            <span class="oi oi-person"></span> About Me

        </NavLink>

    </section>

    <section class="nav-item" id="nav-projects-item">

        <NavLink class="nav-link" href="projects">

            <span class="oi oi-code"></span> My Projects

        </NavLink>

    </section>

    <section class="nav-item">

        <NavLink class="nav-link" href="contact" Match="NavLinkMatch.All">

            ✉ Contact Me

        </NavLink>

    </section>

</nav>