@* Contact Page *@

@using software_dev_portfolio.Pages.PageComponents

@page "/contact"

<PageTitle>Contact Me | Kobe's Portfolio</PageTitle>

<h3 class="contentTitle">Contact Me</h3>

<hr>

<ContactList></ContactList>