@using software_dev_portfolio.Pages.PageComponents

@page "/"

<PageTitle>Portfolio - About Me</PageTitle>

<h3 class="contentTitle">About Me</h3>

<a class="small-home-link" href="#learning-box">Go to "Currently Learning"</a>

<hr>

<section class="about-me-box">

    <section id="description-box">
        <p class="about-me-description">
            Ever since I was a little kid, I have loved working with my hands and tinkering with anything I could get
            hold of. Knowing that, you might think it's odd that I have dedicated my career to the seemingly opposite
            world of software development. I will admit that I had the same thought when I first started this path, but
            everything changed when the fire nation att- I mean, everything changed when I built my very first Python
            game. I built it from the ground up, from an empty, dusty folder into an interactive visual game of Snake
            using nothing but ASCII characters moving across the screen.
        </p>

        <p class="about-me-description">
            After this game, I started my Bachelor's at Brigham Young University - Idaho, majoring in Software
            Development and I fell in love with all things coding! I love seeing every step of the creation process and
            even though I'm not playing with mud anymore, I am still creating and tinkering around. I also started an
            internship with Holley Performance Products back in October 2023 with an emphasis on C#, Blazor, and Docker
            which is teaching me a lot about both front-end and back-end development!
        </p>
    </section>

    <a class="small-home-link" href="#header">Go to "About Me"</a>

    <section id="learning-box">
        <h3>Currently Learning:</h3>

        <ul>
            <li>I am delving deeper into C# at my internship with Holley Performance Products.</li>
            <li>I recently started learning <a href="https://flutter.dev/">Flutter</a> Mobile App development, currently
                working on a Dice Roller app & a Car Repair Tracker app.</li>
            <li>I recently started learning <a href="https://godotengine.org/">Godot</a> Game Development with GDScript
                as I work on my solo indie game, with the working title <em><strong>Maze Bouncer</strong></em>. You
                control a constantly bouncing ball as you navigate increasingly complex mazes. You wield your prodigious
                springiness to ricochet throughout labyrinths & find the exit!</li>
        </ul>
    </section>

</section>