/* Tablet Medium Sizing */
@media only screen and (min-width: 715px) {
    header {
        display: flex;
        flex-direction: row;
        padding-top: 0.8em;
        column-gap: 1rem;
    }

    .headerBox {
        justify-content: flex-start;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .headerTitle {
        display: flex;
        column-gap: 0.4rem;
    }

    .cityName, .chamberName {
        font-size: 1.5rem;
    }

    .headerLogo {
        width: 8rem;
    }

    .socialMediaLinks {
        flex-direction: row;
    }

    #currentDate {
        font-size: 1.5rem;
    }

    /* End of Header Medium Styling */

    /* Main Content Medium Styling */
    .content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
        margin: 1rem 0px;
    }

    .tile {
        margin-top: 0rem;
        height: 100%;
    }
    
    #mediumOverlay {
        display: block;
    }

    #smallOverlay, #largeOverlay {
        display: none;
    }

    .mediumColumn1 {
        grid-column: 1/-1;
    }

    #spotlightBox {
        display: flex;
        flex-direction: column;
    }

    .spotlightSubBox {
        gap: 1rem;
        height: 100%;
    }

    .spotlights {
        display: flex;
        align-items: center;
        margin: 0rem;
        gap: 0.8rem;
    }

    .spotlights * {
        margin: 0;
    }

    .spotlights hr {
        display: none;
    }

    .join {
        grid-column: 2/3;
    }

    .weather {
        grid-column: 1/2;
    }

    /* End of Main Content Medium Styling */

    /* Discover Page Medium Styling */
    .imgBox {
        max-width: 600px;
    }

    .images {
        width: 600px;
        height: 400px;
    }

    .cityInfoSource, .visitBox {
        width: 600px;
    }
    /* End of Discover Page Medium Styling */

    /* Directory Page Medium Styling */
    #listLayout .directoryCard {
        display: flex;
        flex-wrap: wrap;
    }

    #listLayout .directoryCard h2 {
        font-size: 1rem;
        margin-top: 15px;
    }

    #listLayout .directoryCard h2, #listLayout .directoryCard p {
        height: fit-content;
        border-left: 1px solid black;
        padding: 0.5rem;
        margin-right: 0px;
    }
    /* End of Directory Page Medium Styling */
    
    /* Join Page Medium Styling */
    #joinPage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;
        column-gap: 1rem;
    }

    .joinTitle {
        grid-column: 1/-1;
        grid-row: 1/span 1;
        margin: 2rem auto;
    }

    .membershipBenefits {
        grid-column: 2 /span 1;
        grid-row: 2 /span 1;
    }

    .joinForm {
        grid-row: 2/span 1;
    }

    .membership {
        margin-top: 0.5rem;
    }

    .businessInfo {
        margin-top: 2rem;
    }

    .businessInfo label input, .businessInfo label textarea {
        margin-top: 0.75rem;
    }

    .membershipBenefits {
        margin: 0 0.5rem 0 0;
        padding-left: 1rem;
        border-left: 1px solid black;
    }
    
    #submit {
        grid-column: 2/span 2;
        grid-row: 2/span 1;
    }
    /* End of Join Page Medium Styling */

    /* Contact Page Medium Styling */

    #contactPage {
        flex-direction: row;
    }

    .contactBox1, .contactBox2 {
        justify-content: start;
        column-gap: 3rem;
    }

    .contactForm {
        display: grid;
        margin-left: 1rem;
        width: fit-content;
        width: 50%;
    }
    
    #contactPage hr {
        position: absolute;
        transform: rotate(90deg);
        width: 400px;
        left: 240px;
        top: 525px;
    }
    
    .indicateRequired {
        grid-column: 1/-1;
        font-size: 0.75rem;
    }
    
    #message {
        margin: 1rem 0px;
        max-width: 91%;
    }
    
    #contactPage form #submit {
        grid-column: 1/2;
        grid-row: 6/span 1;
    }

    #contactPage hr {
        left: 220px;
    }

    .chamberInfo {
        width: 50%;
    }

    /* End of Contact Page Medium Styling */

    /* Footer Medium Styling */
    footer {
        flex-direction: row;
        column-gap: 1rem;
        flex-wrap: wrap;
        font-size: 1rem;
    }

    footer figure {
        margin-left: 0em;
        margin-right: 0.2rem;
    }

    .footerBox1 {
        text-align: left;
        max-width: 15rem;
    }
    /* End of Footer Medium Styling */
}