<!-- Name, Profile Picture, & NavMenu-->

<header>

    <section class="profileBox">

        <img id="profilepic" src="./images/kobepicture2.webp" alt="Picture of Kobe Lemon">

        <h1 id="name">Kobe Lemon</h1>

    </section>

    <NavMenu></NavMenu>

</header>