<!-- Name, Profile Picture, & NavMenu-->

<header>

    <section class="profileBox">

        <img id="profilepic" src="./images/kobepicture2.webp" alt="Picture of Kobe Lemon">

        <h1 id="name">Kobe Lemon</h1>

    </section>

    <h2>✉ kobealemon@gmail.com</h2>

    <h3>

        <a class="homeSocialMediaLinks" href="www.linkedin.com/in/kobe-lemon">

            <img src="./images/linkedin-logo.png" alt="LinkedIn Logo">
        
            My LinkedIn Profile
        
        </a>

    </h3>

    <NavMenu></NavMenu>

</header>
