<!-- Single Portfolio Item -->

<div class="portalLI">

    <a href="@portfolioLink" target="_blank">Where Am I? - Geolocator & Weather</a>

    <iframe src="@portfolioLink"></iframe>

    <p>@description</p>

</div>

@code {

    [Parameter]
    public string? portfolioLink { get; set; }

    [Parameter]
    public string? description { get; set; }

}