<!-- Single Project Item -->

<li class="portalLI">
    
    <a href="@Link">@Name</a>
    
    <section>

        <iframe src="@Link"></iframe>
        
        <p>@Description</p>

    </section>

    

</li>

@code {

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? Link { get; set; }

    [Parameter]
    public string? Description { get; set; }
    
    [Parameter]
    public string? Language { get; set; }
}