<!-- Single Project Item -->

<li class="portalLI">

    <section>

        <a href="@Link" target="_blank">@Name</a>

        <iframe src="@Link"></iframe>

    </section>

    <p>@Description</p>

</li>

@code {

    [Parameter]
    public string? Name { get; set; }
    
    [Parameter]
    public string? Link { get; set; }
    
    [Parameter]
    public string? Description { get; set; }
    
    [Parameter]
    public string? Language { get; set; }
}